[class*="col"]{
   height: 50px;
   border: 1px solid white;
   background-color: blue;
}
[class*="col"] [class*="col"]{
   background-color:lightgreen;
   height: 25px;
   margin-top: 10px;
   border: 1px solid blue;
}
.row{
   padding: 0 10px;
}
/* .contained{
   margin-left: 20px;
}

.contained2{
   margin-left: 40px;
} */

.top{
   margin-top: 30px;
}